@import "./base.css";

@import "primeicons/primeicons.css";

.auto-hide-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

html {
  min-height: 100vh;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
